@model PagedList.IPagedList<JobHunter.Models.Company>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Companies";
}

<h2>Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index","Company",FormMethod.Get))
{
    <p>
        Find by company name: @Html.TextBox("SearchString", ViewBag.CurrenFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Company Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            Headquarterd in Portland
        </th>
        <th>
            Website
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortlandHQ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyID })
        </td>
    </tr>
}

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, Page => Url.Action("Index", new {Page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
